/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} */

/*create a utility class to hide elements*/
.hide{
    display: none;
}

.wrapper {
margin: 100px auto 0 auto;
max-width: 600px;
}

.start {
text-align: center;
}

.clock {
    position: absolute;
    top:10px;
    right:10px;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: brown;
    text-decoration: underline;
    transition: color 0.1s;
}

a:hover {
    color: black;
}

button {
    display: inline-block;
    position: relative; 
    margin: 20px;
    cursor: pointer;
    font-family: fantasy;
    background-color: brown;
    font-size: 100%;
    border-radius: 5px;
    color: antiquewhite;
    padding: 5px 15px;
    border: 0;
}

button:hover {
    background-color: green;
}
