/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} */

/*create a utility class to hide elements*/
.hide{
    display: none;
}

.wrapper {
margin: 100px auto 0 auto;
max-width: 600px;
}

.start {
text-align: center;
}

.clock {
    position: absolute;
    top:10px;
    right:10px;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}